<html>
<head>

</head>


<body>
  <div>
    <h1>Welcome to Evolving Games</h1>

    <div class="year_div">
      <h3>Game #1 2016 using Meteor JS - <a href="https://github.com/travis-cooper/meteor_ng1_story_game">Story Engine</a></h3>
    </div>

    <div class="year_div">
      <h3>Game #5 2015 using Meteor JS - <a href="https://github.com/travis-cooper/tactical_space_battle">Tactical Space Battle</a></h3>

      <h3>Game #4 2015 using Monkey-X - <a href="https://evolvingdeveloper.itch.io/evolve-or-die" title="Evolve Or Die" target="_blank">Evolve Or Die</a></h3>

      <a href="http://evolvingdeveloper.com/wp-content/uploads/2015/04/main_screen.png"><img src="http://evolvingdeveloper.com/wp-content/uploads/2015/04/main_screen-300x227.png" alt="Evolve or Die" width="300" height="227" class="aligncenter size-medium wp-image-114" /></a>

      <h3>Game #3 2015 using Monkey-X - <a href="https://evolvingdeveloper.itch.io/infinite-zip" title="Infinite Zip" target="_blank">Infinite Zip</a></h3>

      <a href="http://evolvingdeveloper.com/wp-content/uploads/2015/02/infinitezip_screenshot.png"><img src="http://evolvingdeveloper.com/wp-content/uploads/2015/02/infinitezip_screenshot-300x225.png" alt="infinitezip_screenshot" width="300" height="225" class="aligncenter size-medium wp-image-347" /></a>

      <h3>Game #2 2015 using Monkey-X - <a href="http://evolvingdeveloper.itch.io/repel-boarders" title="Repel Boarders" target="_blank">Repel Boarders</a></h3>

      <a href="http://evolvingdeveloper.com/wp-content/uploads/2015/03/Screen-Shot-2015-03-01-at-8.50.49-PM.png"><img src="http://evolvingdeveloper.com/wp-content/uploads/2015/03/Screen-Shot-2015-03-01-at-8.50.49-PM-300x225.png" alt="Repel Boarders Title Screen" width="300" height="225" class="aligncenter size-medium wp-image-71" /></a>

      <h3>Game #1 2015 using Monkey-X - <a href="http://evolvingdeveloper.itch.io/prism-ship" title="Prism Ship Game on Itch.io" target="_blank">Prism Ship</a></h3>

      <a href="http://evolvingdeveloper.com/wp-content/uploads/2015/02/Screen-Shot-2015-02-01-at-10.54.04-PM.png"><img src="http://evolvingdeveloper.com/wp-content/uploads/2015/02/Screen-Shot-2015-02-01-at-10.54.04-PM-300x224.png" alt="Prism Ship Game Play" width="300" height="225" class="aligncenter size-medium wp-image-43" /></a>
    </div>
  </div>
</body>
</html>
